@import '../modules/colors';

.breadcrumbBar {
  background-color: $dark;
  padding: .7rem 0;
  z-index: 1;
}

/* =================================
View Brand
==================================== */
.breadcrumbBar__brandLink,
.breadcrumbBar__downArrowLink {
  padding: 1rem;
  color: #fff;
  transition: color .1s;

  &:hover,
  &:focus {
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
  }
}

.breadcrumbBar__downArrowLink {
  background-color: $darker;
  padding: 1rem;
  border-radius: 50%;
  margin-left: 1.5rem;
  display: flex; 
  justify-content: center;
  align-items: center;
}