@import '../modules/colors';
@import '../modules/breakpoints';

/* arrows --- */
.carousel-control-prev,
.carousel-control-next {
  top: auto;
  width: auto;
  transform: translateX(-100%);
  background-color: $dark;
  opacity: 1;
}

.carousel-control-prev {
  left: 50%;
  transform: translateX(-100%);
  border-right: 1px solid #bbb;
}

.carousel-control-next {
  right: 50%;
  transform: translateX(100%);
}

/* carousel item ----- */
.carousel__itemContainer {
  display: flex;
  flex-wrap: wrap;
}
/* carousel image --- */
.carousel__image {
  height: 35rem;
  width: 100%; 
  background: url(img/new-arrivals-banner.png) no-repeat 50% 0% / cover;

  @media screen and (min-width: $break-l) {
    width: 50%;
  }
}
/* carousel content --- */
.carousel__content {
  width: 100%;
  // padding-right: 3rem;
  // margin-bottom: 3rem;

  @media screen and (min-width: $break-l) {
    display: block;
    width: 50%;
  }
  @media screen and (min-width: $break-xl) {
    margin-top: 4.5rem;
  }
}
.carousel__contentContainer {
  padding: 2rem 1.3rem 3rem;

  @media screen and (min-width: $break-s) {
    max-width: 540px;
    margin: 0 auto;
  }

  @media screen and (min-width: $break-m ) {
    max-width: 720px;
  }

  @media screen and (min-width: $break-l) {
    max-width: 30rem;
    margin: 0 0 0 auto;
  }

  @media screen and (min-width: $break-xl) {
    max-width: 35.5rem;
  }
}
/* title */
.carousel__title {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: .3rem;
  padding-bottom: .6rem;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3.5rem;
    height: .13rem;
    background-color: $dark;
  }
}
/* lead */
.carousel__lead {
  font-size: 2rem;
  line-height: 1.1;
  text-transform: uppercase;
  font-weight: bold;
  margin: 1.5rem 0;

  @media screen and (min-width: $break-m) {
    font-size: 3rem;
  }
}
/* paragraph */
.carousel__paragraph {
  max-width: 35rem;
  margin-bottom: 2.5rem;
}