.footer {
  color: #fff;
  background-color: #000;
  padding: 2.5rem 0;
}

/* subscription input */
.subscriptionForm__input {
  color: #fff;
  padding-bottom: .5rem;
  border: none;
  border-bottom: 1px solid;
  background-color: transparent;

  transition: border-width .2s;

  &:focus {
    outline: none;
    border-width: 2px;
  }

  &::placeholder {
    color: #fff;
  }
}

/* subscription button */
.subscriptionForm__button {
  align-self: flex-end;
  border: none;
  border-bottom: 1px solid;
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
  padding-left: 0;
  padding-right: 0;
  margin-top: .5rem;
}

/* paragraph */
.footer__paragraph {
  color: rgba(255, 255, 255, .7);
}