/* ===========================
Women Clothes
============================== */
.womenClothesJumbotron {
  background-color: darkred;
  background: darkred url(img/women-clothes-banner.png) no-repeat center / cover;
  padding: 5rem 1rem;
}

/* title --- */
.womenClothesJumbotron__title {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: bold;
}