.selectContainer {
  display: inline-block;
  width: 100%;
  border-radius: .15rem;
  position: relative;
}
.selectContainer__label {
  top: .4rem;
  left: .9rem;
}
.select {
  color: #65686B;
  width: 100%;
  padding: 1.7rem 0 .4rem 1rem;
  -webkit-appearance: none;

  transition-property: box-shadow, border-color;
  transition-duration: .15s;
  transition-timing-function: ease-in-out;

  &:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
}
.selectContainer__downArrow {
  right: .8rem;
  top: 50%;
  transform: translateY(-50%);
}