@import '../modules/colors';
@import '../modules/breakpoints';

/* ==============================
Section
================================= */
.view360 {
  color: white;
  background-color: $darker;
  position: relative;
  padding-top: 2.5rem;
}

/* badge */
.view360__badge {
  display: none;

  @media screen and (min-width: $break-s) {
    display: block;
    opacity: .2;
    position: absolute;
    top: -1.5rem;
    right: 0;
    width: 7rem;
  }
  @media screen and (min-width: $break-m) {
    width: 10rem;
  }
  @media screen and (min-width: $break-l) {
    width: 12rem;
  }
  @media screen and (min-width: $break-xl) {
    width: 14rem;
  }
}

/* title */
.view360__title1 {
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: .2rem;
  font-weight: 400;

  @media screen and (min-width: $break-s) {
    letter-spacing: .8rem;
  }
}

.view360__title2 {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 5vw;

  @media screen and (min-width: $break-s) {
    font-size: 2rem;
  }
  @media screen and (min-width: $break-m) {
    font-size: 2.3rem;
  }
}

/* panorama */
.panorama__image {
  width: 100%;
  position: relative;
  top: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  max-height: 35rem;
  border-radius: .25rem;
  object-fit: cover;
  object-position: 50% 100%;
}

/* panorama controls */
.panorama__control {
  padding: 1.38rem;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .8);
  transition-property: border-color, background-color;
  transition-duration: .25s;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center; 

  &:hover,
  &:focus {
    border-color: rgba(255, 255, 255, .6);
    background-color: rgba(0, 0, 0, .9);
  }

  @media screen and (min-width: $break-m) {
    padding: 1.7rem;
  }
}

/* settings */
.panorama__settingsControl {
  left: 2rem;
  top: 3rem;
}

/* cart */
.panorama__cartControl {
  right: 2rem;
  top: 3rem;
}

/* share */
.panorama__shareControl {
  right: 2rem;
  bottom: -1rem;  
}

/* zoom in */
.panorama__zoomInControl {
  left: 2rem;
  bottom: -1rem;  
}

/* zoom out */
.panorama__zoomOutControl {
  left: 5.5rem;
  bottom: -1rem;  

  @media screen and (min-width: $break-m) {
    left: 6.5rem;
  }
}

/* full screen */
.panorama__fullScreenControl {
  left: 9rem;
  bottom: -1rem;  

  @media screen and (min-width: $break-m) {
    left: 11rem;
  }
}

/* shop details --- */
.shopDetails {
  display: none;
  color: #fff;
  width: 19rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, .8);
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: .4rem;
  position: absolute;
  left: 2rem;
  top: 8rem;

  @media screen and (min-width: $break-m) {
    display: block;
  }
}

/* location */
.shopDetails__location {
  margin-bottom: 0;
  font-size: .9rem;
}

/* shop name */
.shopDetails__name {
  font-size: 1.2rem;
  font-weight: 400;
  margin: .7rem 0 0;
}

/* tools heading */
.shopDetails__toolsTitle {
  font-size: 1.3rem;
}

/* Shop tools --- */
.shopToolList {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.shopToolList__tool {
  padding: 1.5rem;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: .25s;
  display: flex;
  justify-content: center;
  align-items: center; 

  &:hover,
  &:focus {
    background-color: #000;
  }
}

/* Panorama list --- */
/* container */
.panoramaItem__container {
  display: flex;
  height: 10rem; 
  border-radius: .25rem;
  background-color: #444;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
}

/* items */
.panorama__item {
  &:nth-child(4n+1) {
    .panoramaItem__container {
      background-image: url(img/360-shop.png);
    }
  }
  &:nth-child(4n+2) {
    .panoramaItem__container {
      background-image: url(img/360-shop-2.png);
    }
  }
  &:nth-child(4n+3) {
    .panoramaItem__container {
      background-image: url(img/360-shop-3.png);
    }
  }
  &:nth-child(4n+4) {
    .panoramaItem__container {
      background-image: url(img/360-shop-4.png);
    }
  }
}

/* title */
.panoramaItem__title {
  font-weight: normal;
  margin: auto;
  text-shadow: 0 0 5px #000;
}
